{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Authenticated{% endblock %}
{% block body %}



<div class="intro-header">
        <div class="container">
            <br><br><br><br><br>
            {{ utils.flashed_messages() }}
           
            <div class="row">
              <div class="col-md-10 col-md-offset-2 col-sm-6 col-sm-offset-3">
                <div class="card card-signup">

                    <div class="header header-info text-center">
                      <h4>Authenticated Members</h4>
                    </div>
                    <div class="col-md-12">
                            <div class="col-md-12">
                                    {% for pic in pics: %}
                                    <div class="image floated_img" >
                                      <a href="{{ url_for('viewPerson' , user =pic.person_id) }}" >{{pic.person_name}} </a>
                                      <br>
                                      </div>
                                    {% endfor %}
                                    </div>
                    <div class="content text-left">


                            <form method="post" enctype=multipart/form-data>
                                    {{ form.hidden_tag() }}
                                    {{ form.name(class_="form-control", placeholder="Enter Another Person") }}

                                    {{ form.submit(class_="btn btn-info btn-round text-center") }}
                            </form>

                          
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>

{% endblock %}
