{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Camera Details{% endblock %}
{% block body %}

<br>
<br>
<br>
<br>
<br>
<br>
{% if camera %}


{% endif %}

<form action="{{ url_for('cameraDetails') }}" method="POST">
        <div id="dynamicInput">
                <div class="col-sm-4">
                        <div class="form-group">
             Camera 1<br><input class="form-control" type="text" name="myInputs[]" placeholder="Enter camera number " required><br><input class="form-control" type="text" name="myInputs[]" placeholder="Enter camera location " required><br></div></div>
        </div>
        <input type="button" class="btn btn-info btn-round text-center" value="Add another camera" onClick="addInput('dynamicInput');" >
        <div> <input type="submit" class="btn btn-info btn-round text-center" value="Submit" name="submit"></div>
</form>



<script>
    var counter = 1;
var limit = 3;
function addInput(divName){
     if (counter == limit)  {
          alert("You have reached the limit of adding " + counter + " inputs");
     }
     else {
          var newdiv = document.createElement('div');
          newdiv.innerHTML = "<div class='col-sm-4'><div class='form-group'>" + "Camera " + (counter + 1) + " <br><input class='form-control' type='text' name='myInputs[]' placeholder='Enter camera number' required><br><input class='form-control' type='text' name='myInputs[]' placeholder='Enter camera location ' required><br></div></div>";
          document.getElementById(divName).appendChild(newdiv);
          counter++;
     }
}
</script>


    {% endblock %}




