{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %} Dashboard {% endblock %}
{% block body %}

<div class="intro-header">
    <div class="container">
        <br><br><br><br><br>
        {{ utils.flashed_messages() }}
        <div class="row">
          <div class="col-md-10 col-md-offset-2 col-sm-6 col-sm-offset-3">
            <div class="card card-signup">
              
                <div class="header header-info text-center">
                  <h4>Dashboard</h4>
                 
                </div>
                <div class="content text-center">

                        <a href="{{ url_for('cameraDetails') }}" class="btn btn-info btn-round text-center">Edit Camera Details </a>
                        <a href="{{ url_for('uploadImages') }}" class="btn btn-info btn-round text-center">Manage Authorized People </a>
                        <a href="{{ url_for('unAuth') }}" class="btn btn-info btn-round text-center">View Security Breaches </a>
                        
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}