{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Authenticated{% endblock %}
{% block body %}

<link rel=stylesheet type="text/css" href="../static/assets/css/image.css">

<div class="intro-header">
        <div class="container">
            <br><br><br><br><br>
            {{ utils.flashed_messages() }}
            <div class="row">
              <div class="col-md-10 col-md-offset-2 col-sm-6 col-sm-offset-3">
                <div class="card card-signup">
                  
                    <div class="header header-info text-center">
                      <h4>Add Pictures</h4>
                    </div>
                    <div class="col-md-12">
                            <div class="col-md-12">
                                    
                    <div class="content text-left">
                        
                        
                            <form method="post" enctype=multipart/form-data>
                                    {{ form.hidden_tag() }}
                                    {{ form.image(multiple="multiple" ) }}
                                   <!-- {{ form.picture(class_="btn btn-info btn-round text-center") }}-->
                                    {{ form.skip(class_="btn btn-info btn-round text-center") }}
                            </form>
                        
                            <a href="{{ url_for('webcam', user=user) }}" class="btn btn-info btn-round text-center">Take Pictures with Webcam </a>          
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        

<style> 
.floated_img
{
    float: left;
}
</style>
{% endblock %}
