{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Authenticated{% endblock %}
{% block body %}

<link rel=stylesheet type="text/css" href="../static/assets/css/image.css">

<div class="intro-header">
        <div class="container">
            <br><br><br><br><br>
            {{ utils.flashed_messages() }}
            <div class="row">
              <div class="col-md-10 col-md-offset-2 col-sm-6 col-sm-offset-3">
                <div class="card card-signup">
                  
                    <div class="header header-info text-center">
                      <h4>Add Pictures</h4>
                    </div>
                    <div class="col-md-12">
                            <div class="col-md-12">
                                    
                    <div class="content text-left">
                        <script src="../static/assets/js/webcam.js"></script>
                        <div id="my_camera" style="width:320px; height:240px;"></div>
                        <div id="my_result"></div>
                        <script language="JavaScript">
                            Webcam.attach( '#my_camera' );
                            
                            function take_snapshot() {
                                Webcam.snap( function(data_uri) {
                                    document.getElementById('my_result').innerHTML = '<img src="'+data_uri+'"/>';
                                    //var record = dataURItoBlob(data_uri); 
                                } );
                            }
                            /*
                            function dataURItoBlob(data_uri) {
                                var binary = atob(data_uri.split(',')[1]);
                                var array = [];
                                for(var i = 0; i < binary.length; i++) {
                                    array.push(binary.charCodeAt(i));
                                }
                                return new Blob([new Uint8Array(array)], {type: 'image/jpeg'});
                            }
                            
                            var save = function() {
                            var form = new FormData();
                            form.append('file', record.blob, record.filename);
                            form.append('title', searchedObj.title);
                            //Chrome inspector shows that the post data includes a file and a title.                                                                                                                                           
                            $.ajax({
                            type: 'POST',
                            url: '/getWebcamPics',
                            data: form,
                            cache: false,
                            processData: false,
                            contentType: false
                            }).done(function(data) {
                            console.log(data);
                            });
                              */       
                        </script>
                        <a href="javascript:void(take_snapshot())">Take Snapshot</a>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endblock %}