{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Authenticated{% endblock %}
{% block body %}

<link rel=stylesheet type="text/css" href="../static/assets/css/image.css">
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<div class="intro-header">
        <div class="container">
            <br><br><br><br><br>
            {{ utils.flashed_messages() }}
            <div class="row">
              <div class="col-md-10 col-md-offset-2 col-sm-6 col-sm-offset-3">
                <div class="card card-signup">
                  
                    <div class="header header-info text-center">
                      <h4>Add Pictures</h4>
                    </div>
                    <div class="col-md-12">
                            <div class="col-md-12">
                                    
                    <div class="content text-left">
                            

                        <script src="../static/assets/js/webcam.js"></script>
                        <div id="my_camera" style="width:320px; height:240px;"></div>
                        <div id="my_result"></div>
                        <a href="javascript:void(take_snapshot())">Take Snapshot</a>
                        <br>
                        <a href="javascript:void(saveSnap())">Save this Snapshot</a>
                        <div id="snackbar">Saved!</div>
                        <br>
                        <a href="{{ url_for('TrainFaces') }}" class="btn btn-info btn-round text-center">Train Saved Snapshots</a>

                           

                        <script language="JavaScript">
                            Webcam.attach( '#my_camera' );
                            
                            function take_snapshot() {
                                Webcam.snap( function(data_uri) {
                                    document.getElementById('my_result').innerHTML = '<img id="image" src="'+data_uri+'"/>';
                                } )
                            }

                            function saveSnap(){
                            // Get base64 value from <img id='imageprev'> source
                            var base64image = document.getElementById("image").src;

                            Webcam.upload( base64image, "{{url_for('getWebcamPics' , user=user)}}", function(code, text) {
                                var x = document.getElementById("snackbar")
                                x.className = "show";
                                setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
                            //console.log(text);
                            });
                        }
                            
                        
                        </script>
                       <style>
                        #snackbar {
                            visibility: hidden;
                            min-width: 250px;
                            margin-left: -125px;
                            background-color: #333;
                            color: #fff;
                            text-align: center;
                            border-radius: 2px;
                            padding: 16px;
                            position: fixed;
                            z-index: 1;
                            left: 50%;
                            bottom: 30px;
                            font-size: 17px;
                        }
                        
                        #snackbar.show {
                            visibility: visible;
                            -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
                            animation: fadein 0.5s, fadeout 0.5s 2.5s;
                        }
                        
                        @-webkit-keyframes fadein {
                            from {bottom: 0; opacity: 0;} 
                            to {bottom: 30px; opacity: 1;}
                        }
                        
                        @keyframes fadein {
                            from {bottom: 0; opacity: 0;}
                            to {bottom: 30px; opacity: 1;}
                        }
                        
                        @-webkit-keyframes fadeout {
                            from {bottom: 30px; opacity: 1;} 
                            to {bottom: 0; opacity: 0;}
                        }
                        
                        @keyframes fadeout {
                            from {bottom: 30px; opacity: 1;}
                            to {bottom: 0; opacity: 0;}
                        }
                        </style>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endblock %}